{{> head}}
    {{> navbar}}
    <div class="row">
        <div class="col-8">
            <h1>IndyCar</h1>
            <p>Esto es un texto unico para realizar un ejercicio del curso Node</p>
        </div>
        <div class="col-4">
            <img src="assets/img/img.jpg" class="img-thumbnail">
        </div>
    </div>
{{> footer}}